body {
    background-color: white;
    background-image: none;
    color: black;
}

header {
    background-color: #CE2829;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header img {
    width: 30vw;
}

.order {
    font-size: 20px;
    padding-bottom: 30px;
}

.sizes {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-left: 800px;
}

.malzemeYazi {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.malzeme {
    border: 2px blue solid;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 800px;
}