.orderpizza header {
    background-color: #CE2829;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.orderpizza header img {
    width: 16vw;
}

.topsection {
    background-color: #FAF7F2;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.prodct-info {
    max-width: 30%;
    margin-left: 36vw;
    text-align: left;
}

.order {
    font-size: 14px;
    padding: 30px 0px;
    margin-right: 260px;
}

.sizes {
    display: flex;
    justify-content: center;

}

.malzemeYazi {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.malzeme {
    display: flex;
    flex-direction: column;

}

.orderdetails {
    width: 600px;
    margin-left: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: 100vh;
    justify-content: space-between;
}

.siparis {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.siparistoplam {
    display: flex;
    border: 1px #5F5F5F solid;
    border-radius: 3px;
    justify-content: space-between;
    padding: 30px;
}

.siparisyazi {
    display: flex;
    flex-direction: column;
}

.tutar {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.siparissonuc {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-bottom: 40px;
}

.checkbox {
    margin-left: 10px;

}

.radiobtn {
    margin-left: 10px;
}

.siparisnotu {
    margin-top: 20px;
    font-weight: bold;
}



/* HomePage */


.home-1 {
    background-image: url('../../Assets/mile1-assets/home-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    text-align: center;
}


.home-1 button {
    border-radius: 50px;
    color: black;
    background-color: #FDC913;
    width: 160px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin-top: 40px;
}

.home-1 img {
    padding: 30px;
    width: 22vw;
}

.slogan {
    font-size: 80px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.icons {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 300px 20px 400px;
}

.icons img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    margin-top: 6px;
}

.icons span {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Roboto Condensed';
    margin: 10px 80px 10px 0;
    font-size: 15px;
    width: 80px;
}

.cards {
    display: flex;
    color: white;
}

.cards button {
    background-color: white;
    border-radius: 20px;
    color: #CE2829;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    width: 120px;
}

.pizzacard {
    background-image: url(../Assets/mile2-aseets/cta/kart-1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 590px;
    height: 480px;
    border-radius: 10px;
    margin: 80px 0 80px 21%;
    display: flex;
    flex-direction: column;
}

.burgercard {
    background-image: url(../Assets/mile2-aseets/cta/kart-2.png);
    background-repeat: no-repeat;
    width: 620px;
    height: 240px;
    border-radius: 10px;
    margin: 80px 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.kuryecard {
    background-image: url(../Assets/mile2-aseets/cta/kart-3.png);
    background-repeat: no-repeat;
    width: 620px;
    height: 220px;
    border-radius: 10px;
    margin: 20px 0 80px 20px;
    color: black;
    display: flex;
    flex-direction: column;
}

.navbutton {
    margin-left: 21vw;
    margin-bottom: 40px;
    width: 64vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pictures {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 66vw;
    margin-left: 20%;
    margin-bottom: 60px;
}

.picture {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.footer {

    color: white;
    display: flex;
}

.footerinfo {
    padding: 3vw 2vw 6vw 10vw;
    display: flex;
    flex-direction: column;
}

.footerinfo p {
    font-weight: lighter;
}

.footermenuler {
    padding: 4vw 10vw 4vw 1vw;
}

.footermenuler h2 {
    margin-bottom: 30px;
}

.footerinsta {
    padding-top: 4vw;
    padding-left: 18vw;
}

.footerinsta img {
    width: 80px;
}



/* SuccesPage */




.success {
    background-color: #ce2829;
    color: white;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;

}

.success img {
    width: 20vw;
    margin-top: 40px;
    align-items: center;
}

.message {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successpizza {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-width: 280px;
    text-align: left;
}